<!doctype html>
<html lang='en'>
<head>
<meta charset ="UTF-8">
<title> My app </title>
</head>
<body>
<h1> Register User </h1>
<form action="/registerUser" method="post">
fname:<input type="text" name="fname">
lname:<input type="text" name="lname">
address:<input type="text" name="address">
city:<input type="text" name="city">
state:<input type="text" name="state">
zip:<input type="text" name="zip">
email:<input type="text" name="email">
username:<input type="text" name="username">
password:<input type="text" name="password">

<input type="submit" name="Submit">
</form>

</body>
<html>
